<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<body>

<!--Use the first app-->
<div id="first" ng-app="mainApp">
	<div ng-controller="test">	
		<input type="text" ng-model="Hola.fn" />
		<input type="text" ng-model="Hola.ln" />
		<p>Hello <span ng-bind="Hola.fn"></span> <span ng-bind="Hola.ln"></span></p>
		<p>Hello {{Hola.fn}} {{Hola.ln}}</p>
	</div>
</div>

<!--Use the second app-->
<div id="second" ng-app="empApp">
	<div ng-controller="employee">		
		<span> {{employee.firstName}} {{employee.lastName}}
		</span>
	</div>
</div>

<script>

   // 1. Define the first app.
   var app = angular.module("mainApp", []);
   
   app.controller("test", function($scope){
    $scope.Hola = {};
	$scope.Hola.fn = "jon";
	$scope.Hola.ln = "doe";
   });
   
   // 2. Define the second app.
   var emp = angular.module("empApp", []);
   
   emp.controller("employee", function ($scope){
	$scope.employee = {
	   firstName: "Matt",
	   lastName: "Kidder"
	};   
   });
   
   //Angular will always bootstrap the first app defined in the view. So, 
   //in this case, mainApp is already bootstrapped. So, do NOT manually
   //bootstrap it, or else exception will occur.   
   //var first = document.getElementById("first");   
   //angular.bootstrap(angular.element(first), ["mainApp"]);
   
   //Do manually bootstrap the second app, because by default, angular will only
   //bootstrap the first app that appear in the view.
   var second = document.getElementById("second");
   angular.bootstrap(angular.element(second), ["empApp"]);
</script>
</body>
</html>