<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
<body>

<!--Use the first app-->
<div id="first" ng-app="mainApp">
	<div ng-controller="test">	
		<input type="text" ng-model="Hola.fn" />
		<input type="text" ng-model="Hola.ln" />
		<p>Hello <span ng-bind="Hola.fn"></span> <span ng-bind="Hola.ln"></span></p>
		<p>Hello {{Hola.fn}} {{Hola.ln}}</p>
	</div>
</div>

<!--Use the second app-->
<div id="second" ng-app="empApp">
	<div ng-controller="employee">		
		<div> {{employee.firstName}} {{employee.lastName}}
		</div>		
		
		<div> {{employee.fullName() | uppercase}}
		</div>
		
		<div>
		  <table>
		    <thead>
			  <tr>
			  <th>Skill</th>
			  <th>Strength</th>
			  </tr>
			</thead>
			
			<!--BELOW: the property strength has to be quoted after orderBy, otherwise, it won't work.-->
			<tr ng-repeat = "s in employee.skills | orderBy:'strength'">
			   <td>{{s.name}}</td>
			   <td>{{s.strength}}</td>			
			</tr>
		  </table>
		</div>		
	</div>	
</div>
<script src="modules.js"></script>
</body>
</html>